<included>
    <springProperty scope="context" name="serviceName" source="spring.application.name"/>
    <property name="baseDir" value="/opt/workspace/log/test"/>

    <appender name="EAGLE_EYE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${baseDir}/${serviceName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${baseDir}/${serviceName}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %thread %logger{36} | %msg%n</pattern>
        </encoder>
    </appender>
</included>
